@import 'variables';
@import 'bootstrap';

h4, h2, h3 {
    color: $color-medium;
}

body{
    background-color: $color-medium;
}

h1, h2, h4, h5, p {
    color: $color-white;
}

h1, h2, h4{
    font-weight: bold;
}

.card{
    border: solid 3px $color-tan;
}

.card-body{
    background-color: $color-dark;
    color: $color-white;
    a{
        text-decoration:none;
    }
    h4{
        color: $color-white;
        font-family: $font-family-sans-serif;
    }
}

.card-footer{
    background-color: $color-medium;
    border: none;
}

.navbar{
    background-color: $color-darkest;
}


.nav-link, .navbar-text{
    color: $color-white;
}

.btn{
    background-color: $color-darkest;
    color: $color-white;
    border: 1px solid $color-tan;
}

.modal-content{
    background-color: $color-medium;
    color: $color-white;
}

.form-label{
    color: $color-white;
}

.no-border{
    border: none;
}

.no-border-bottom{
    border-bottom: none;
}

.margin-top-bottom{
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-bottom{
    margin-bottom: 6px;
}

.btn-success{
    background-color: $color-success;
    border-color: $color-dark;
}

.btn-secondary{
    background-color: $color-secondary;
    border-color: $color-dark;
}

.btn-danger{
    background-color: $color-danger;
    border-color: $color-dark;
}
